<div class="kudos-form">
  <p class="describe">Who helped you at <%=venue.name%>?</p>
  <textarea class="employee-description js-employee-description" type="text" placeholder="Enter their name or quick description..."></textarea>
  <ul class="employees">
    <% for ( var i = 0; i < collection.length; i++ ) { %>
      <li class="js-select-employee" data-employee-name="<%= collection[i].name%>" data-employee-description="<%= collection[i].description %> "data-employee-id="<%= collection[i].id%>"><%=collection[i].description%></li>
    <% } %>
  </ul>
</div>
