    <div class="copy" style="text-align:center;">
      <p class="mission">LeaveKudos lets you recognize excellent service at the places you visit everyday.</br>
        Start Leaving Kudos for stars in your daily life!
      </p>
      <a href="/connect" class="foursquare">
        <img src="imgs/connect-button.png" />
      </a>
    </div>
    <div id="homepage-container">
      <div id="splash">
      </div>
      <div id="vid">
        <div class="iphone">
          <iframe src="http://player.vimeo.com/video/56889295" width="335" height="503" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>	
        </div>
      </div>
    </div>
    <div id="about">
      <p>This project was created during the <a href="https://www.hackerleague.org/hackathons/foursquare-hackathon-2013/hacks/leave-kudos">foursquare 2013 hackathon</a>. It was created by
        <a href="http://twitter.com/johnkpaul">@johnkpaul</a>,
        <a href="http://twitter.com/sbroways">@sbroways</a>,
        <a href="http://twitter.com/bjburton">@bjburton</a>,
        <a href="http://twitter.com/joeterranella">@joeterranella</a>, and
        <a href="http://twitter.com/papajuans">@papajuans</a>,
      </p>
    </div>
