table { margin-bottom: 200px;width: 100%;background:white;border:1px solid #ced6ad; border-radius:12px;padding:10px;
border-collapse: collapse;
} 
table th { text-align: left; }
table tr { border: 1px solid #ccc; }
table td, table th{padding:10px;}
h1 { margin: 10px auto; margin-bottom:.5em; }
body { margin: 10px auto; }
.address { 
 text-align:center;
 margin:0px;
 padding:0px;
font-size: 1.2em; 
}
#container { width:100%;} 

#page { margin:1em; }

blockquote {
  background: url('/www/imgs/quote.png') no-repeat;
  background-size:30px 25px;
  padding: 10px 0 0 36px;
  margin: 5px;
  min-height: 36px;
  font-style: italic;
}
