body {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
  background: #eef8c8;
}

ul {
  list-style-type: none;
}

#header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eef8c8)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffffff, #eef8c8); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #eef8c8); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #ffffff, #eef8c8); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #ffffff, #eef8c8); /* Firefox 16+, IE10, Opera 12.50+ */
  -webkit-box-shadow: 0 4px 10px -6px #000000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: 0 4px 10px -6px #000000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
  padding: 5px 0;
}

#header > div {
  background: url('../imgs/header-logo.png') no-repeat center center;
  min-height: 68px;
}

#header .js-back {

  background: url('../imgs/back-button.png') no-repeat center center;
  display: block;
  height: 68px;
  width: 133px;
  text-indent: -9999px;
}

#container {
  background: #eef8c8;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

p.checkins-info {
  font-size: 24px;
  text-align: center;
  width: 250px;
  margin: 20px auto;
}

#checkin-collection {
  padding: 0;
  margin: 40px auto;
  width: 90%;
}

#checkin-collection li {
  position: relative;
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  min-height: 40px;
}

#checkin-collection li:first-child {
  border-top: 1px solid #dddddd;
  -webkit-border-radius: 12px 12px 0 0;
   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
          border-radius: 12px 12px 0 0;
}

#checkin-collection li:last-child {
  -webkit-border-radius: 0 0 12px 12px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  border-radius: 0 0 12px 12px;
}

#checkin-collection li:nth-child(even) {
  background: #f4f4f4;
}

#checkin-collection li a {
  color: #b0d136;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

#checkin-collection li a span {
  display: block;
}

#checkin-collection .address {
  color: #000000;
}

#checkin-collection li .info {
  background: url('../imgs/arrow.png') no-repeat right center;
}

#checkin-collection img {
  display: block;
  float: right;
  position: absolute;
  top: 10%;
  right: 10px;
}

#leave-kudos {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#leave-kudos img {
  width: 100%;
  max-width: 521px;
  height: auto;
}