body {
  font-family: 'PT Sans', sans-serif;
}

ul {
  list-style-type: none;
}

#container {
  background: #eef8c8;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

p.checkins-info {
  font-size: 24px;
  text-align: center;
  width: 250px;
  margin: 20px auto;
}

#checkin-collection {
  padding: 0;
  margin: 40px auto;
  width: 90%;
}

#checkin-collection li {
  position: relative;
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  min-height: 40px;
}

#checkin-collection li:first-child {
  border-top: 1px solid #dddddd;
  -webkit-border-radius: 12px 12px 0 0;
   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
          border-radius: 12px 12px 0 0;
}

#checkin-collection li:last-child {
  -webkit-border-radius: 0 0 12px 12px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  border-radius: 0 0 12px 12px;
}

#checkin-collection li:nth-child(even) {
  background: #f4f4f4;
}

#checkin-collection li a {
  color: #b0d136;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

#checkin-collection li a span {
  display: block;
}

#checkin-collection .address {
  color: #000000;
}

#checkin-collection li .info {
  background: url('../imgs/arrow.png') no-repeat right center;
}

#checkin-collection img {
  display: block;
  float: right;
  position: absolute;
  top: 10%;
  right: 10px;
}