table { width: 100%;background:white;border:1px solid #ced6ad; border-radius:12px;padding:10px;} 
table th { text-align: left; }
table tr { border: 1px solid #ccc; }
h1 { margin: 10px auto; margin-bottom:.5em; }
body { width: 50em; margin: 10px auto; }
.address { 
 text-align:center;
 margin:0px;
 padding:0px;
font-size: 1.2em; 

}

#page {margin:1em; }
