<!DOCTYPE html>
<html>
<head>
  <title>Leavekudos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<link rel="stylesheet" href="/www/css/styles.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
